<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;p&gt;This job automatically prepares a Jenkins build server to be able to build WebObjects projects by cloning the &#xd;
  WOJenkins build scripts into this job&apos;s &lt;a target=&quot;_new&quot; href=&quot;ws/WOJenkins&quot;&gt;workspace&lt;/a&gt; and then uses them &#xd;
  to do the following:&lt;/p&gt;&#xd;
&lt;h3&gt;Apple WebObjects™&lt;/h3&gt;&#xd;
&lt;ol&gt;&#xd;
  &lt;li&gt;Downloads &lt;a target=&quot;_new&quot; href=&quot;http://webobjects.mdimension.com/wolips/&quot;&gt;WOInstaller.jar&lt;/a&gt; from MDimension.&lt;/li&gt;&#xd;
  &lt;li&gt;Downloads WebObjects 5.3.3 or 5.4.3 from Apple&lt;/li&gt;&#xd;
  &lt;li&gt;Installs WebObjects frameworks in &lt;code&gt;${HUDSON_HOME}/WOFrameworksRepository/WebObjects&lt;/code&gt;&lt;/li&gt;&#xd;
  &lt;li&gt;Downloads the current &lt;a target=&quot;_new&quot; href=&quot;http://webobjects.mdimension.com/hudson/job/WOLips37Current/lastSuccessfulBuild/artifact/&quot;&gt;&#xd;
    woproject.jar&lt;/a&gt; from  WOLips build server and installs it in &lt;code&gt;${HUDSON_HOME}/WOFrameworksRepository/WOProject&lt;/code&gt; &#xd;
    (needed for building any WebObjects application with Ant)&lt;/li&gt;&#xd;
&lt;/ol&gt;&#xd;
&lt;h3&gt;Project WOnder&lt;/h3&gt;&#xd;
&lt;ol&gt;&#xd;
  &lt;li&gt;Clones/Pulls the Project WOnder Git repository into &lt;code&gt;${HUDSON_HOME}/WOFrameworksRepository/ProjectWOnder/GitRepositoryClone&lt;/code&gt;&#xd;
    so it can be used by all Wonder builds.&lt;/li&gt;&#xd;
  &lt;li&gt;Clones/Pulls the specified branch of WOnder into this job&apos;s &lt;a target=&quot;_new&quot; href=&quot;ws/Wonder&quot;&gt;workspace&lt;/a&gt;. &#xd;
    (By cloning again, multiple jobs can be building different versions of WOnder simultaneously.)&lt;/li&gt;&#xd;
  &lt;li&gt;Builds and installs WOnder into the ${HUDSON_HOME}/WOFrameworksRepository/ProjectWOnder directory based on the selected BUILD_TARGETS.&lt;/li&gt;&#xd;
&lt;/ol&gt;&#xd;
&#xd;
&lt;h4&gt;NOTE:&lt;/h4&gt;&#xd;
&lt;p&gt;You should change the repository locations in this Job&apos;s &lt;a target=&quot;_new&quot; href=&quot;configure&quot;&gt;configuration&lt;/a&gt; for both Project WOnder and the WOJenkins to point to your own clones of each. You can run this job as-is, but both Project WOnder and&#xd;
WOJenkins change regularly and you run the risk of this job breaking if you aren&apos;t using your own repositories.&lt;/p&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>WO_VERSION</name>
          <description>The version of WebObjects to build against or embed in your project.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>5.4.3</string>
              <string>5.3.3</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WONDER_BRANCH</name>
          <description>The branch of Wonder that you want to build. The default is &lt;b&gt;master&lt;/b&gt; but it could set to &lt;b&gt;MyBranch&lt;/b&gt; instead.</description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILD_TARGETS</name>
          <description>Which Wonder build target do you want to run. For most projects the default &lt;b&gt;frameworks frameworks.install&lt;/b&gt; is what you want.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>frameworks frameworks.install</string>
              <string>all</string>
              <string>applications applications.install</string>
              <string>examples examples.install</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="org.jenkinsci.plugins.multiplescms.MultiSCM">
    <scms>
      <hudson.plugins.git.GitSCM>
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <name>origin</name>
            <refspec>+refs/heads/${WONDER_BRANCH}:refs/remotes/origin/${WONDER_BRANCH}</refspec>
            <url>git://github.com/projectwonder/wonder.git</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>origin/${WONDER_BRANCH}</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>false</recursiveSubmodules>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <authorOrCommitter>false</authorOrCommitter>
        <clean>true</clean>
        <wipeOutWorkspace>false</wipeOutWorkspace>
        <pruneBranches>false</pruneBranches>
        <remotePoll>false</remotePoll>
        <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
        <gitTool>Default</gitTool>
        <submoduleCfg class="list"/>
        <relativeTargetDir>../../../WOFrameworksRepository/ProjectWOnder/GitRepositoryClone</relativeTargetDir>
        <reference></reference>
        <excludedRegions></excludedRegions>
        <excludedUsers></excludedUsers>
        <gitConfigName></gitConfigName>
        <gitConfigEmail></gitConfigEmail>
        <skipTag>false</skipTag>
        <scmName>Wonder</scmName>
      </hudson.plugins.git.GitSCM>
      <hudson.plugins.git.GitSCM>
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <name>WOFrameworksRepository</name>
            <refspec>+refs/heads/${WONDER_BRANCH}:refs/remotes/WOFrameworksRepository/${WONDER_BRANCH}</refspec>
            <url>${JENKINS_HOME}/WOFrameworksRepository/ProjectWOnder/GitRepositoryClone/</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>WOFrameworksRepository/${WONDER_BRANCH}</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>false</recursiveSubmodules>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <authorOrCommitter>false</authorOrCommitter>
        <clean>false</clean>
        <wipeOutWorkspace>false</wipeOutWorkspace>
        <pruneBranches>false</pruneBranches>
        <remotePoll>false</remotePoll>
        <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
        <gitTool>Default</gitTool>
        <submoduleCfg class="list"/>
        <relativeTargetDir>Wonder</relativeTargetDir>
        <reference></reference>
        <excludedRegions></excludedRegions>
        <excludedUsers></excludedUsers>
        <gitConfigName></gitConfigName>
        <gitConfigEmail></gitConfigEmail>
        <skipTag>false</skipTag>
        <scmName>WOFrameworksRepository_Wonder</scmName>
      </hudson.plugins.git.GitSCM>
      <hudson.plugins.git.GitSCM>
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <name>origin</name>
            <refspec>+refs/heads/master:refs/remotes/origin/master</refspec>
            <url>git://github.com/avendasora/WOJenkins.git</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>origin/master</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>false</recursiveSubmodules>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <authorOrCommitter>true</authorOrCommitter>
        <clean>true</clean>
        <wipeOutWorkspace>false</wipeOutWorkspace>
        <pruneBranches>true</pruneBranches>
        <remotePoll>false</remotePoll>
        <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
        <gitTool>Default</gitTool>
        <submoduleCfg class="list"/>
        <relativeTargetDir>WOJenkins</relativeTargetDir>
        <reference></reference>
        <excludedRegions></excludedRegions>
        <excludedUsers></excludedUsers>
        <gitConfigName></gitConfigName>
        <gitConfigEmail></gitConfigEmail>
        <skipTag>false</skipTag>
        <scmName>WOJenkins</scmName>
      </hudson.plugins.git.GitSCM>
    </scms>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec># Every Hour, On the Hour.
0 */1 * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>${WORKSPACE}/WOJenkins/Install/WebObjects/installWebObjects.sh
${WORKSPACE}/WOJenkins/Build/Wonder/WorkspaceSetupScripts/Git/setupWonderWorkspace.sh</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant>
      <targets>${BUILD_TARGETS} -propertyfile ${WORKSPACE}/Root/jenkins.build.properties</targets>
      <buildFile>${WORKSPACE}/Wonder/build.xml</buildFile>
    </hudson.tasks.Ant>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>